@import 'compass/css3'

$experimental-support-for-mozilla:      true  !default
$experimental-support-for-webkit:       true  !default
$support-for-original-webkit-gradients: false !default
$experimental-support-for-opera:        false !default
$experimental-support-for-microsoft:    false !default
$experimental-support-for-khtml:        false !default

@mixin font-smoothing($value: antialiased)
  @if $value == antialiased
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
  @else
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: auto


$color-wht:    #fff
$color-blk:    #000
$color-gauss:  #A9A9A9
$color-kinsey: #33353A
$color-newton: #232427
$color-sagan:  #DCDCDC
$color-leland: #9C9C9C
$color-primary: #3179A1
$color-highlight: rgba(255,255,255,.05)

$font-sans: 'Roboto', Helvetica, Arial, sans-serif
$font-serif: 'Georgia', serif


/* images */
.sprite
  background-image: inline-image('sprite.png') !important

.cover
  background-image: inline-image('cover.png')

.prop
  background-repeat: no-repeat
  text-indent: -999em
  overflow: hidden

.eq
  background: inline-image('eq.gif') rgba(0,0,0,.7) -2px -3px !important

.spriteProperties
  @extend .sprite
  @extend .prop


